.action-button {
  background-color: #3040c4;
  color: #FFF;
  width: 160px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

.learn-more-btn {
  background-color: #FFF;
  color: #3040c4;
  width: 160px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top-section {
    padding-top: 39px;
  }
}

.header {
  height: 64px;
  width: 100%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    background-color: transparent;
    padding: 0;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  height: 100%;
  margin-left: auto;
  background-color: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
@media screen and (min-width: 1400px) {
  .navigation__item {
    color: #2b292d;
    text-decoration: none;
    line-height: 25px;
    font-size: 18px;
    margin-left: 50px;
  }
}
@media screen and (min-width: 1400px) {
  .navigation__item:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1400px) {
  .navigation__item_selected {
    font-weight: 700;
  }
}
.navigation__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  background-image: url(images/Arrow.png);
  margin-left: 11px;
}

.logo {
  display: flex;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 14px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    margin-left: 4px;
  }
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  font-size: 18px;
  line-height: 25px;
  color: #2b292d;
  opacity: 0.6;
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
  }
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    width: 1140px;
    margin: auto;
    display: flex;
    background-color: #f3c6bd;
    position: relative;
    padding-bottom: 77px;
    margin-top: 84px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    margin: 0;
    position: absolute;
    z-index: 1;
  }
}
.headline__title {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    height: 165px;
    width: 754px;
    left: 126px;
  }
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    margin-top: 34px;
    height: 102px;
    width: 456px;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
}
.headline__action-btn {
  width: 100%;
  height: 48px;
}
@media screen and (min-width: 1400px) {
  .headline__action-btn {
    width: 158px;
  }
}
.headline__learn-more-btn {
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    width: 158px;
    height: 48px;
    margin-top: 0;
    margin-left: 10px;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    height: 448px;
    width: 796px;
    position: relative;
    top: 0px;
    right: -105px;
    margin-left: auto;
  }
}

.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .customers {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    flex-direction: row;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  height: 94px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__item:last-child {
  border-right: none;
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

.about {
  padding: 46px 15px;
  width: 100%;
  background: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
    margin: 0;
  }
}
.article:last-child {
  margin-top: 20px;
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 6px;
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}
.tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip__image {
  margin-top: 29px;
}
.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 20px;
  max-width: 100%;
}

.features {
  display: flex;
  position: relative;
  padding-bottom: 103px;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__left-decoration {
  position: absolute;
  top: 258px;
  height: 166px;
}
.features__content {
  margin: auto;
  display: flex;
  width: 1140px;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__description {
  margin-top: 30px;
  font-size: 24px;
  line-height: 34px;
}
.features__advantage-header {
  line-height: 42px;
  display: flex;
  margin-top: 42px;
}
.features__advantage-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
  margin: 0;
  margin-left: 15px;
}
.features__advantage-description {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-item {
  border-bottom: 1px solid #2b292d;
  margin-top: 21px;
  padding-bottom: 22px;
  display: flex;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__banner {
  position: absolute;
  right: 0;
}

.inbox {
  background-color: #FCF0E3;
  padding: 50px 15px 48px;
}
@media screen and (min-width: 1400px) {
  .inbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.inbox__figure {
  display: flex;
  justify-content: center;
}
.inbox__illustration {
  max-width: 290px;
}
@media screen and (min-width: 1400px) {
  .inbox__illustration {
    max-width: 425px;
    margin-right: 164px;
  }
}
.inbox__illustration-caption {
  display: none;
}
@media screen and (min-width: 1400px) {
  .inbox__illustration-caption {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
    margin-top: 15px;
  }
}
@media screen and (min-width: 1400px) {
  .inbox__content {
    padding-left: 30px;
    width: 519px;
  }
}
.inbox__subtitle {
  margin: 0;
  margin-top: 32px;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #f1592b;
}
.inbox__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .inbox__title {
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.inbox__text {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .inbox__text {
    margin-top: 30px;
  }
}
.inbox__comment-block {
  margin-top: 30px;
  padding: 30px 20px;
  background-color: #FFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid #0185d0;
}
@media screen and (min-width: 1400px) {
  .inbox__comment-block {
    margin-top: 44px;
    margin-left: -30px;
    padding: 30px 30px 30px 26px;
  }
}

.comment-block__text {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
}
.comment-block__commentator {
  display: flex;
  margin-top: 26px;
}
.comment-block__commentator-icon {
  height: 40px;
  width: 40px;
  margin-right: 11px;
}
.comment-block__commentator-info {
  font-size: 16px;
  line-height: 22px;
  color: #d5d4d5;
  margin: 0;
}
.comment-block__commentator-info b {
  color: #2b292d;
  display: block;
}

.communication {
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .communication {
    padding: 110px 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1400px) {
  .communication__preview {
    width: 462px;
    margin-right: 193px;
    margin-bottom: 87px;
  }
}
.communication__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #0189d1;
}
@media screen and (min-width: 1400px) {
  .communication__subtitle {
    margin-top: 13px;
  }
}
.communication__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .communication__title {
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.communication__text {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .communication__text {
    margin-top: 30px;
  }
}
.communication__button {
  margin-top: 30px;
  width: 160px;
  height: 48px;
}
@media screen and (min-width: 1400px) {
  .communication__button {
    margin-top: 39px;
  }
}
.communication__illustration {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}
.communication__illustration-image {
  width: 290px;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .communication__illustration-image {
    height: 426px;
    width: 425px;
    margin: 0;
  }
}
.communication__illustration-description {
  margin: 0;
  margin-top: 17px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}
.communication__info {
  margin-top: 68px;
  position: relative;
}
@media screen and (min-width: 1400px) {
  .communication__info {
    display: flex;
    justify-content: space-between;
  }
}
.communication__info::before {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  width: 150px;
  background-color: #000000;
  opacity: 0.1;
}
.communication__info-item {
  padding-top: 1px;
  margin-top: 33px;
  font-size: 18px;
  line-height: 26px;
}
@media screen and (min-width: 1400px) {
  .communication__info-item {
    width: 360px;
    margin-right: 30px;
  }
  .communication__info-item:last-child {
    margin-right: 0;
  }
}
.communication__info-item p {
  margin: 0;
  margin-bottom: 10px;
}
.communication__info-link {
  color: #3040C4;
  font-weight: 700;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  margin: 0 15px 22px;
}
.footer__line {
  width: 100%;
  background-color: #2b292d;
  height: 1px;
  opacity: 0.1;
  display: none;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    display: block;
  }
}

.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
  }
}

.about-company {
  margin-top: 44px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .about-company {
    margin-top: 44px;
    height: 338px;
    width: 360px;
  }
}

.footer-description {
  display: none;
  font-size: 18px;
  line-height: 26px;
  color: #2b292d;
  opacity: 0.6;
  margin: 0;
  margin-top: 26px;
}
@media screen and (min-width: 1400px) {
  .footer-description {
    display: block;
  }
}

.downloads {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1400px) {
  .downloads {
    margin-top: 25px;
    display: block;
  }
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin-top: 40px;
  border-top: 1px solid #e3e3e3;
  display: flex;
  flex-direction: column;
  height: 404px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    margin-top: 60px;
    margin-left: 126px;
    display: flex;
    flex-direction: row;
    border: none;
  }
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-right: 29px;
  }
}

.nav-links {
  padding-top: 30px;
}
@media screen and (min-width: 1400px) {
  .nav-links {
    padding-top: 0;
  }
}
.nav-links__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 18px;
}
.nav-links__list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  list-style-type: none;
  opacity: 0.6;
}

.footer-links {
  width: 100%;
  margin: auto;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.terms {
  display: flex;
}
.terms__items {
  margin-right: 20px;
  font-size: 14px;
  line-height: 50px;
  color: #2b292d;
  opacity: 0.6;
  text-decoration: none;
}

.social-links {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
  }
}
@media screen and (min-width: 1400px) {
  .social-links__items {
    margin-right: 0;
    margin-left: 20px;
  }
}
.social-links__item {
  margin-right: 20px;
  text-decoration: none;
}
.social-links__item_twitter {
  height: 16px;
  width: 21px;
}
.social-links__item_fb {
  height: 17px;
  width: 18px;
}
.social-links__item_Linkedin {
  height: 17px;
  width: 18px;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__text {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .logo-vertical__text {
    margin-top: 0;
  }
}
.logo-vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.order {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  background-color: #f4f5f7;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .order {
    flex-direction: row;
    padding: 72px 0;
    justify-content: center;
  }
}
@media screen and (min-width: 1400px) {
  .order__content {
    margin-top: 33px;
    width: 555px;
  }
}
.order__illustration {
  max-width: 200px;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .order__title {
    margin: 0;
    text-align: left;
  }
}
.order__text {
  margin: 0;
  margin-top: 18px;
  font-size: 22px;
  line-height: 32px;
}
@media screen and (min-width: 1400px) {
  .order__text {
    margin-top: 12px;
  }
}
.order__form {
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .order__form {
    margin-top: 26px;
    display: flex;
    justify-content: flex-start;
  }
}
.order__email {
  width: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 13px;
  text-align: center;
  height: 48px;
  outline: none;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
}
.order__email::placeholder {
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .order__email {
    flex-grow: 1;
  }
}
.order__btn {
  width: 100%;
  height: 48px;
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .order__btn {
    width: 160px;
    margin-left: 10px;
    margin-top: 0;
  }
}
.order__terms {
  margin-top: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #2b292d;
}
.order__terms-link {
  color: #3040C4;
}

.audience {
  background-color: rgba(0, 161, 198, 0.07);
  padding: 50px 15px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audience {
    padding: 108px 130px 110px;
  }
}
.audience__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}
.audience__title {
  margin: 0 auto;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    width: 555px;
  }
}
.audience__text {
  margin: 0 auto;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .audience__text {
    margin-top: 30px;
    width: 555px;
  }
}
.audience__buttons {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .audience__buttons {
    display: flex;
    margin-top: 34px;
    justify-content: center;
  }
}
.audience__btn {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .audience__btn {
    width: 160px;
  }
}
.audience__btn:nth-child(2) {
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .audience__btn:nth-child(2) {
    margin-top: 0;
    margin-left: 10px;
  }
}
.audience__cards {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .audience__cards {
    margin-top: 111px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.user-card {
  width: 290px;
  height: 300px;
  background-color: #FFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 33px;
}
@media screen and (min-width: 1400px) {
  .user-card {
    margin: 0 15px;
  }
}
.user-card:hover {
  background-color: #3040c4;
}
.user-card__image {
  height: 195px;
}
.user-card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-top: 22px;
}

.hiring {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .hiring {
    padding: 0px 15px 60px;
  }
}
.hiring__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  margin: 0;
}
.hiring__text {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .hiring__text {
    margin-top: 20px;
  }
}
.hiring__more-about-btn {
  margin-top: 30px;
  width: 247px;
  height: 48px;
  background: #3040c4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  text-align: center;
  color: #FFF;
  outline: none;
  border: none;
}
@media screen and (min-width: 1400px) {
  .hiring__more-about-btn {
    margin-top: 28px;
    height: 48px;
    width: 247px;
  }
}
.hiring__links {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .hiring__links {
    margin-top: 110px;
  }
}
.hiring__link-item {
  margin-top: 15px;
  width: 100%;
  height: 140px;
}
@media screen and (min-width: 1400px) {
  .hiring__link-item {
    height: 81px;
    margin-top: 20px;
  }
}

.vacancy {
  display: flex;
  align-items: center;
  border: 1px solid rgba(43, 41, 45, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .vacancy {
    width: 750px;
  }
}
.vacancy:hover {
  background-color: #3040c4;
  color: #FFF;
}
.vacancy:hover .vacancy__arrow {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png");
}
.vacancy__text {
  flex-grow: 1;
  margin-right: 20px;
  margin-left: 20px;
}
@media screen and (min-width: 1400px) {
  .vacancy__text {
    margin-right: 33px;
    margin-left: 25px;
    display: flex;
    align-items: center;
  }
}
.vacancy__title {
  display: inline;
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.vacancy__info {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.6;
  margin-top: 7px;
}
@media screen and (min-width: 1400px) {
  .vacancy__info {
    margin-left: auto;
  }
}
.vacancy__arrow-field {
  height: 100%;
  width: 50px;
  background-color: #d5d4d5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
}
@media screen and (min-width: 1400px) {
  .vacancy__arrow-field {
    background-color: transparent;
  }
}
.vacancy__arrow {
  display: inline-block;
  height: 12px;
  width: 7px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 1400px) {
  .page {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
