.communication {
  padding: 50px 15px;
  @include for-small-up {
    padding: 110px 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
  }
  &__preview {
    @include for-small-up {
      width: 462px;
      margin-right: 193px;
      margin-bottom: 87px;
    }
  }
  &__subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #0189d1;
    @include for-small-up {
      margin-top: 13px;
    }
  }

  &__title {
    margin: 0;
    margin-top: 17px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    @include for-small-up {
      margin-top: 24px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }

  &__text {
    margin: 0;
    margin-top: 18px;
    font-size: 24px;
    line-height: 34px;
    @include for-small-up {
      margin-top: 30px;
    }
  }

  &__button {
    margin-top: 30px;
    width: 160px;
    height: 48px;
    @include for-small-up {
      margin-top: 39px;
    }
  }

  &__illustration {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
  &__illustration-image {
    width: 290px;
    margin-top: 40px;
    @include for-small-up {
      height: 426px;
      width: 425px;
      margin: 0;
    }
  }

  &__illustration-description {
    margin: 0;
    margin-top: 17px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
    @include for-small-up {
    }
  }

  &__info {
    margin-top: 68px;
    position: relative;
    @include for-small-up {
      display: flex;
      justify-content: space-between;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      height: 1px;
      width: 150px;
      background-color: #000000;
      opacity: 0.1;
      @include for-small-up {
      }
    }
  }

  &__info-item {
    padding-top: 1px;
    margin-top: 33px;
    font-size: 18px;
    line-height: 26px;
    @include for-small-up {
      width: 360px;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__info-item p {
    margin: 0;
    margin-bottom: 10px;
    @include for-small-up {
    }
  }

  &__info-link {
    color: $text-color-blue;
    font-weight: 700;
  }
}
