.action-button,
.learn-more-btn {
  width: 160px;
  height: 48px;
  background-color: $color-dark-blue;
  color: $text-color-white;
  line-height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}
.learn-more-btn {
  background-color: $color-white;
  color: $color-dark-blue;
}
.action-button {
  background-color: $color-dark-blue;
  color: $text-color-white;
}
a {
  cursor: pointer;
}
