.action-button {
  background-color: $color-dark-blue;
  color: $text-color-white;
  width: 160px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}
.learn-more-btn {
  background-color: $color-white;
  color: $color-dark-blue;
  width: 160px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}
