.customers {
  display: flex;
  flex-direction: column;

  @include for-small-up {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    padding: 30px 0 106px;
  }
  &__row {
    display: flex;

    @include for-small-up {
      flex: 1;
      justify-content: space-around;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 94px;
    border-bottom: 1px solid $color-light-grey;
    border-right: 1px solid $color-light-grey;

    @include for-small-up {
      border: none;
    }
    &:last-child {
      border-right: none;
    }
  }
  &__logo {
    filter: brightness(0);
    max-width: 80%;
  }
}
