@import 'breakpoints.scss';
@import 'variables.scss';
@import 'common.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'customers.scss';
@import 'about.scss';
@import 'tips.scss';
@import 'features.scss';
@import 'inbox.scss';
@import 'communication.scss';
@import 'footer.scss';
@import 'order.scss';
@import 'audience.scss';
@import 'hiring.scss';

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: $color-dark;
}
.page {
  width: 100%;
  overflow-x: hidden;

  @include for-small-up {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    min-height: 100vh;
  }
}
